
body{
	font-family: sans-serif;
	padding:50px 0 0 0;
}

#home-cover-carousel .carousel,
#home-cover-carousel .carousel-inner{
	max-height: 500px;
}

a.carousel-control{
	display: block;
	font-size: 48px;
	padding-top:25%;
}

.global-nav{
	margin-bottom:0;
	background:#f5f5f5;
	border-radius: 0px;
}

.review-container{
	min-height: 100px;
	color:#f4f4f4;
	background: #333;
}

#review-form{
	display: none;
	color:#f5f5f5;
}

.vitals{
	background:#f4f4f4;
}