//Some custom CSS for form elements

form.invert{
	.form-control{
		color:$input-color;
		background: none;
		box-shadow: none;
		border: none;
		border-bottom: 1px solid $input-border;
		border-radius: 0px;
		padding:5px 0;
		transition: none;

		@include ags-form-control-focus(#fff);
		@include placeholder($gray-lighter);

		span.error{
			display:hidden;
		}
	}
}