// Home Profile

.cover{
	background:#555;
}

#home-cover-carousel{

	.carousel,
	.carousel-inner{
		min-height: 550px;
		max-height:550px;
	}

	img{
		xheight:500px;
		xmax-height: none;
		xmax-width: none;
	}

	.carousel-control,
	.carousel-control.left,
	.carousel-control.right{
		background: none;
		top:250px;
	}

	.carousel-caption{
		left:10px;
		padding:0px;
		text-align: left;
	}
}

.bid{
	background: #FFF;
	padding-bottom: 20px;
	border-bottom: 1px solid $brand-primary;
}

.bid-trend{
	padding:20px 0;
	width: 80%;

	.headline{
		width: 230px;
		font-size: 2em;
		padding-bottom: 10px;
	}

	i.fa{
		padding-top: 6px;
	}

	p{
		text-align:center;
	}
}

.vitals{
	background:#f4f4f4;
}

.profile-section{

	p.section-body{
		font-size:1.2em;
		line-height: 1.3em;
	}

}

//EDIT
i.edit{

	:hover{
		cursor: pointer;
	}
}






