// Home Profile

#home-cover-carousel{

	.carousel,
	.carousel-inner{
		max-height: 500px;
	}

	.carousel-control,
	.carousel-control.left,
	.carousel-control.right{
		background: none;
	}

	.carousel-caption{
		left:0px;
		padding:0px;
		text-align: left;
	}
}

.bid{
	background: #FFF;
	padding-bottom: 20px;
	border-bottom: 1px solid $brand-primary;
}

.vitals{
	background:#f4f4f4;
}

.profile-section{

	p.section-body{
		font-size:1.2em;
		line-height: 1.3em;
	}

}